kaltura.endpoint=https://www.kaltura.com/
kaltura.partnerId=1
kaltura.adminSecret=changethis
kaltura.user=changethis
mpx.baseUrl=https://identity.auth.theplatform.eu/idm
mpx.user=mpx/changethis
mpx.password=changethis
mpx.accountId=changethis
pmftp.host=changethis
pmftp.port=changethis
pmftp.user=changethis
pmftp.password=changethis
